In [1]:
import pandas as pd
import string
import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

## Data Loading

In [7]:
data = pd.read_csv('spam.csv', encoding='latin1')

# Clean the dataset by keeping only relevant columns and renaming them
data_clean = data[['v1', 'v2']].copy()
data_clean.columns = ['label', 'message']
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

## Data Cleaning and Label Encoding

In [9]:
def preprocess_text(text):
   
    text = text.lower()
  
    text = text.translate(str.maketrans("", "", string.punctuation))
   
    text = re.sub(r'\d+', '', text)
    return text
data_clean['message'] = data_clean['message'].apply(preprocess_text)

## Data Splitting, Text Vectorization, Model Training

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    data_clean['message'], data_clean['label'], test_size=0.2, random_state=42)

# Use TF-IDF to convert text data to numerical features
tfidf_vectorizer = TfidfVectorizer(max_features=3000)  # Limit to 3000 features
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Train a Logistic Regression model

In [11]:
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train_tfidf, y_train)

# Make predictions on the test set
y_pred_nb = nb_classifier.predict(X_test_tfidf)

# Model Evaluation and Prediction

In [12]:
accuracy_nb = accuracy_score(y_test, y_pred_nb)
classification_report_nb = classification_report(y_test, y_pred_nb)
confusion_matrix_nb = confusion_matrix(y_test, y_pred_nb)

In [13]:
print(f'Accuracy: {accuracy_nb:.2f}')
print('Classification Report:\n', classification_report_nb)
print('Confusion Matrix:\n', confusion_matrix_nb)

Accuracy: 0.97
Classification Report:
               precision    recall  f1-score   support

         ham       0.97      1.00      0.98       965
        spam       1.00      0.78      0.88       150

    accuracy                           0.97      1115
   macro avg       0.98      0.89      0.93      1115
weighted avg       0.97      0.97      0.97      1115

Confusion Matrix:
 [[965   0]
 [ 33 117]]